# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
.gitignore
.DS_Store
insight-admin.zip
bdd.sqlite
tab-panel.html
table.html
ui-elements.html
empty.html
form.html
chart.html